body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

header {
    background-color: #ffffff;
    padding: 30px 0;
    text-align: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    position: fixed; /* Memastikan header tetap di atas saat scroll */
    width: 100%;
    z-index: 1000; /* Menjaga header tetap di atas konten lainnya */
    display: flex;
    align-items: center; /* Vertikal align logo dan nav */
    justify-content: space-between; /* Memberikan jarak antara logo dan nav */
    padding: 15px 20px; /* Menambahkan padding */
}

.logo img {
    height: 50px; /* Sesuaikan tinggi logo */
}

nav {
    margin-top: 10px;
    margin-right: 60px;
}

nav a {
    margin: 0 15px;
    text-decoration: none;
    color: #333;
    font-weight: 500;
    transition: color 0.3s;
}

nav a:hover {
    color: #007BFF;
}

.hero {
    height: 100vh; /* Mengatur tinggi hero agar memenuhi layar */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-image: url('https://source.unsplash.com/1600x900/?nature');
    background-size: cover;
    background-position: center;
    color: rgb(7, 7, 7);
}

.hero h2 {
    font-size: 2.5em;
    margin: 0;
}

.hero p {
    font-size: 1.2em;
    margin-top: 10px;
}

.cta-button {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 1em;
    color: white;
    background-color: #007BFF;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    transition: background-color 0.3s;
}

.cta-button:hover {
    background-color: #0056b3;
}

.section {
    padding: 60px 20px;
    text-align: center;
    background-color: #ffffff;
}

.contact-form {
    max-width: 600px;
    margin: 0 auto; /* Mengatur margin agar form berada di tengah */
    padding: 50px;
    background-color: #f9f9f9;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.contact-form label {
    display: block;
    margin: 10px 0 5px;
}

.contact-form input, 
.contact-form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.contact-form button {
    padding: 10px 15px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.contact-form button:hover {
    background-color: #0056b3;
}

footer {
    text-align: center;
    padding: 20px;
    background-color: #333;
    color: white;
}